@import "tailwindcss";

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  background-color: #0A0D14; /* ← era #f9fafb, esto overrideaba todo */
  color: #FFFFFF;
}

html {
  scroll-behavior: smooth;
}